<h1>Update todo</h1>
    
    <form action="/todo/create">
        <div id="new-todo-block">
            <input name="description" id="new-todo-description" type="text" value=<%= @todo.description %>>
            <input name="pomodoro_estimate" id="new-pomodoro-estimate" type="text" value=<%= @todo.pomodoro_estimate %>>
            <input id="add-new-todo-button" type="submit" value="Add Todo">
        </div>
    </form>
    <a href=<%="/todo/show/#{@todo.id}"%>><input id="go-back" type="button" value="Go Back"></a>