<div class="index-block">
    <h1>Daily Plan</h1>
    <ul>
        <% @list.each do |todo| %>
        <li>
            <input id="checkBox" type="checkbox"><a href=<%="/todo/show/#{todo.id}"%>><%= todo.description %></a>
            <span class="pomodoro-estimate"><%= todo.pomodoro_estimate %> pomodoros</span>
        </li>
        <% end %>
                
    </ul>
    <a href="/todo/new"> addtodo</a>
</div>