<h1>Create new todo</h1>
    
    <form action="/todo/create">
        <div id="new-todo-block">
            <input name="description" id="new-todo-description" type="text">
            <input name="pomodoro_estimate" id="new-pomodoro-estimate" type="text">
            <input id="add-new-todo-button" type="submit" value="Add Todo">
        </div>
    </form>