<div class="show-block">
    <input id="checkBox" type="checkbox">
    <h1><%= @todo.description %></h1>
    <h3><%= @todo.pomodoro_estimate %> pomodoros</h3>
    <a href="/todo/index"><input id="go-back" type="button" value="Go Back"></a>
    <a href=<%="/todo/edit/#{@todo.id}"%>><input id="edit-todo" type="button" value="Edit"></a>
    <a href=<%="/todo/destroy/#{@todo.id}"%>><input id="delete-todo" type="button" value="Delete"></a>
</div>
        